<form [formGroup]="form">
    <div class="form-group">
        <label for="oldpassword">Old Password</label>
        <input formControlName="oldpassword" id="oldpassword" type="password" class="form-control">
        <div *ngIf="oldpassword.pending"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
        <div *ngIf="oldpassword.dirty && oldpassword.invalid" class="alert alert-danger">
            <div *ngIf="oldpassword.errors.required">Old Password is required.</div>
            <div *ngIf="oldpassword.errors.asyncInvalidPassword">Old Password doesn't match with async pattern.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword">New Password</label>
        <input formControlName="newpassword" id="newpassword" type="password" class="form-control">
        <div *ngIf="newpassword.dirty && newpassword.invalid" class="alert alert-danger">
            <div *ngIf="newpassword.errors.required">New Password is required.</div>
            <div *ngIf="newpassword.errors.minlength">New Password minimum length validation rule violated.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmpassword">Confirm Password</label>
        <input formControlName="confirmpassword" id="confirmpassword" type="password" class="form-control">
        <div *ngIf="confirmpassword.dirty && confirmpassword.invalid" class="alert alert-danger">
            <div *ngIf="confirmpassword.errors.required">Confirm Password is required.</div>
            <div *ngIf="confirmpassword.errors.minlength">Confirm Password minimum length validation rule violated.</div>
        </div>
        <div *ngIf="confirmpassword.valid && form.invalid && form.errors.passwordMismatch" class="alert alert-danger">
            New and Confirm password does not match.
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>